@font-face {
    font-family: 'levisWindow-regular';
    src: url('../assets/fonts/levis-window/regular.ttf');
}

@font-face {
    font-family: 'microsoftSansSerif-regular';
    src: url('../assets/fonts/microsoft-sans-serif/regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bodyContacto {
    height: 100vh;
    width: auto;
    background-color: black;
}

.bodyContactoHeader a img {
    width: 100px;
    height: auto;
}

.bodyContactoMain {
    padding: 0px 0 0 35px;
}

.bodyContactoMainSection1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.bodyContactoMainSection1 p {
    color: white;
    text-align: left;
    font-family: 'levisWindow-regular';
}

.bodyContactoMainSection1 a {
    text-decoration: none;
    color: white;
    text-align: left;
    font-family: 'levisWindow-regular';
}

.bodyContactoMainSection1:hover {
    color: blue;
}