@font-face {
    font-family: 'levisWindow-regular';
    src: url('../assets/fonts/levis-window/regular.ttf');
}

@font-face {
    font-family: 'microsoftSansSerif-regular';
    src: url('../assets/fonts/microsoft-sans-serif/regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bodyCuidados {
    height: 100vh;
    width: auto;
    background-color: black;
}

.bodyCuidadosHeader a img {
    width: 100px;
    height: auto;
}

.bodyCuidadosMain {
    padding: 0 0 0 40px;
}

.bodyCuidadosMainSection1 {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.bodyCuidadosMainSection1 p {
    color: white;
    text-align: left;
    font-family: 'levisWindow-regular';
}

.bodyCuidadosMainSection1 ul {
    list-style: none;
}

.bodyCuidadosMainSection1 ul li {
    margin: 5px 0 0 0;
    color: white;
    text-align: left;
    font-family: 'levisWindow-regular';
}

.bodyCuidadosMainSection2 {
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.bodyCuidadosMainSection2 p{
    color: white;
    text-align: left;
    font-family: 'levisWindow-regular';
}

.bodyCuidadosMainSection2 ul {
    list-style: none;
}

.bodyCuidadosMainSection2 ul li{
    margin: 5px 0 0 0;
    color: white;
    text-align: left;
    font-family: 'levisWindow-regular';
}

.bodyCuidadosMainSection2 video{
    margin: 20px 0 0 0;
    width: 40vw;
    height: auto;
}
