@font-face {
    font-family: 'levisWindow-regular';
    src: url('../assets/fonts/levis-window/regular.ttf');
}

@font-face {
    font-family: 'microsoftSansSerif-regular';
    src: url('../assets/fonts/microsoft-sans-serif/regular.ttf');
}

.bodyFilotaxia {
    height: 100vh;
    width: auto;
    background-color: black;
}

.bodyFilotaxiaHeader a img {
    width: 100px;
    height: auto;
}

.bodyFilotaxiaMain {
    padding: 0px 0 0 35px;
}

.bodyFilotaxiaMainSection1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.bodyFilotaxiaMainSection1 p {
    color: white;
    text-align: left;
    font-family: 'levisWindow-regular';
}
