@font-face {
    font-family: 'levisWindow-regular';
    src: url('../assets/fonts/levis-window/regular.ttf');
}

@font-face {
    font-family: 'microsoftSansSerif-regular';
    src: url('../assets/fonts/microsoft-sans-serif/regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bodyIndex {
    height: 100vh;
    width: auto;
    background-color: white;
}

.bodyIndexMainSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyIndexMainSection1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyIndexMainSection1 a img {
    width: 100px;
    height: auto;
}

.bodyIndexMainSection1 p {
    color: rgb(150, 150, 150);
    font-size: large;
    position: relative;
    bottom: 20px;
    font-family: 'levisWindow-regular';
}

.bodyIndexMainSection2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyIndexMainSection2 a img {
    width: 100px;
    height: auto;
}

.bodyIndexMainSection2 p {
    color: rgb(150, 150, 150);
    font-size: large;
    position: relative;
    bottom: 20px;
    font-family: 'levisWindow-regular';
}

.bodyIndexMainSection3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyIndexMainSection3 a img {
    width: 100px;
    height: auto;
}

.bodyIndexMainSection3 p {
    color: rgb(150, 150, 150);
    font-size: large;
    position: relative;
    bottom: 20px;
    font-family: 'levisWindow-regular';
}

.bodyIndexMainSection4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bodyIndexMainSection4 a img {
    width: 100px;
    height: auto;
}

.bodyIndexMainSection4 p {
    color: rgb(150, 150, 150);
    font-size: large;
    position: relative;
    bottom: 20px;
    font-family: 'levisWindow-regular';
}

a {
    text-decoration: none;
}

p {
    color: #000;
}

model-viewer::part(progress-bar) {
    display: none;
}

/* Opcional: Oculta el modelo hasta que se haya cargado */
#threedd {
    width: 120px;
    height: 120px;
}