@font-face {
    font-family: 'levisWindow-regular';
    src: url('../assets/fonts/levis-window/regular.ttf');
}

@font-face {
    font-family: 'microsoftSansSerif-regular';
    src: url('../assets/fonts/microsoft-sans-serif/regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.bodyTerrarios {
    height: 100vh;
    width: auto;
    background-color: black;
}

.bodyTerrariosHeader a img {
    width: 100px;
    height: auto;
}

.bodyTerrariosMain {
    padding: 0px 0 0 35px;
}

.bodyTerrariosMainSection1 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.bodyTerrariosMainSection1 video {
    width: 55vw;
    height: auto;
    padding: 20px;
}