* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'levisWindow-regular';
    src: url('./assets/fonts/levis-window/regular.ttf');
}

@font-face {
    font-family: 'microsoftSansSerif-regular';
    src: url('./assets/fonts/microsoft-sans-serif/regular.ttf');
}

body {
    height: 100vh;
    background-color: white;
    /* background-image: url("./assets/images/background/w95Cover.png");
    background-size: cover;
    filter: blur(); */
}

header {
    padding: 0px;
}

.headerNavBar {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'levisWindow-regular';
    color: rgb(150, 150, 150);
    font-size: large;
}

.mainImg {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainImgDiv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainImgDiv1 p {
    font-family: 'levisWindow-regular';
    color: rgb(150, 150, 150);
    font-size: large;
    position: relative;
    bottom: 20px;
}

.mainImgDiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainImgDiv2 p {
    font-family: 'levisWindow-regular';
    color: rgb(150, 150, 150);
    font-size: large;
    position: relative;
    bottom: 20px;
}

.mainImgDiv3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainImgDiv3 p {
    font-family: 'levisWindow-regular';
    color: rgb(150, 150, 150);
    font-size: large;
    position: relative;
    bottom: 20px;
}

.mainImgDiv4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainImgDiv4 p {
    font-family: 'levisWindow-regular';
    color: rgb(150, 150, 150);
    font-size: large;
    position: relative;
    bottom: 20px;
}



img {
    width: 100px;
    height: auto;
}

video {
    width: 500px;
}

audio {
    width: 300px
}


footer {
    padding: 30px;
}

.footerNavBar {
    display: flex;
    justify-content: center;
}

.footerNavBar li {
    padding: 10px;
}

