.bodyCuidados {
    height: 100vh;
    background-color: black;
}

.bodyCuidadosHeader {
    a img {
        width: 100px;
        height: auto;
    }
}

.bodyCuidadosMain {
    padding: 0px 0 0 35px;

    .bodyCuidadosMainSection {

        .bodyCuidadosMainSection1 {
            width: 80vw;
            height: auto;
            display: flex;
            flex-direction: column;

            p {
                color: white;
                text-align: left;
                font-family: 'microsoftSansSerif-regular';
            }

            ul {

                li {
                    margin-left: 30px;
                    color: white;
                    text-align: left;
                    font-family: 'microsoftSansSerif-regular';
                }
            }
        }

        .bodyCuidadosMainSection2 {
            width: 80vw;
            height: auto;
            display: flex;
            flex-direction: column;

            p {
                color: white;
                text-align: left;
                font-family: 'microsoftSansSerif-regular';
            }

            ul {

                li {
                    margin: 0 0 0 30px;
                    color: white;
                    text-align: left;
                    font-family: 'microsoftSansSerif-regular';
                }
            }

            video {
                margin: 20px 0 0 30px;
                width: 40vw;
                height: auto;
            }
        }

        .bodyCuidadosMainSection3 {
            width: 80vw;
            height: auto;
            display: flex;
            flex-direction: column;

            p {
                color: white;
                text-align: left;
                font-family: 'microsoftSansSerif-regular';
            }

            ul {

                li {
                    margin: 0 0 0 30px;
                    color: white;
                    text-align: left;
                    font-family: 'microsoftSansSerif-regular';
                }
            }

            video {
                margin: 20px 0 0 30px;
                width: 40vw;
                height: auto;
            }
        }
    }
}