.bodyIndex {
    height: 100vh;
    background-color: white;
}

.bodyIndexMain {
    .bodyIndexMainSection {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bodyIndexMainSection1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                img {
                    width: 100px;
                    height: auto;
                }
            }

            p {
                color: rgb(150, 150, 150);
                font-size: large;
                position: relative;
                bottom: 20px;
            }
        }

        .bodyIndexMainSection2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                img {
                    width: 100px;
                    height: auto;
                }
            }

            p {
                font-family: 'levisWindow-regular';
                color: rgb(150, 150, 150);
                font-size: large;
                position: relative;
                bottom: 20px;
            }
        }

        .bodyIndexMainSection3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                img {
                    width: 100px;
                    height: auto;
                }
            }

            p {
                font-family: 'levisWindow-regular';
                color: rgb(150, 150, 150);
                font-size: large;
                position: relative;
                bottom: 20px;
            }
        }

        .bodyIndexMainSection4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            a {
                img {
                    width: 100px;
                    height: auto;
                }
            }

            p {
                font-family: 'levisWindow-regular';
                color: rgb(150, 150, 150);
                font-size: large;
                position: relative;
                bottom: 20px;
            }
        }
    }
}