@font-face {
    font-family: 'levisWindow-regular';
    src: url('../../assets/fonts/levis-window/regular.ttf');
}

@font-face {
    font-family: 'microsoftSansSerif-regular';
    src: url('../../assets/fonts/microsoft-sans-serif/regular.ttf');
}